body{
margin:0;
font-family:Arial;
background:#f5f6fa;
text-align:center;
}

/* NAVBAR */
nav{
background:#111;
padding:15px;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#28a745;
}

/* HERO */
.hero img{
width:90%;
height:320px;
object-fit:cover;
border-radius:15px;
margin:20px auto;
}

/* PRODUCTS */
.product{
background:white;
width:250px;
display:inline-block;
margin:20px;
padding:15px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.1);
transition:.2s;
}

.product:hover{
transform:scale(1.05);
}

.product img{
width:200px;
height:200px;
object-fit:contain;
}

/* BUTTONS */
button{
background:#28a745;
color:white;
border:none;
padding:10px 15px;
margin:5px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1e7e34;
}

/* CATALOG */
.card{
background:white;
padding:25px;
margin:20px;
display:inline-block;
border-radius:10px;
box-shadow:0 0 8px rgba(0,0,0,.1);
width:180px;
}

/* ABOUT + CONTACT */
.about-box,
.contact-box{
background:white;
width:380px;
margin:40px auto;
padding:25px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

/* CONTACT INPUTS */
.contact-box input,
.contact-box textarea{
width:100%;
margin:10px 0;
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}

/* FOOTER */
footer{
background:#111;
color:white;
padding:15px;
margin-top:50px;
}
